{{ define "admin/public/page_header.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<!--引入bootstrap样式表-->
<link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.css">

<!--引入自定义样式表-->
<link rel="stylesheet" href="/static/admin/css/basic.css">

<!--引入jQuery库-->
<script type="text/javascript" src="/static/admin/bootstrap/js/jquery-1.10.1.js"></script>

<!--引入自定义脚本-->
<script type="text/javascript" src="/static/admin/js/base.js"></script>


{{end}}